/*start of reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
/*end of reset*/

$color: #005b88;
$color-d: #bbe8ff;

body{
	background-color: #f2f2f2;
	.btn-movie{
		color: white;
		background-color: $color;
		width: 6%;
		border-radius: 5px;
		padding: 10px 0;
		margin: 8px 0;
	    margin: auto;
	    display: block;
	    border: none;
	}
	h1{
		font-size: 38px;
		color: $color;
		text-align: center;
		font-weight: bold;
	}
	h2{
		font-size: 30px;
		color: $color;
		text-align: center;
		font-weight: bold;
	}
	table.movies-table {
	    width: 70%;
	    margin: 0 auto;
	    border: 1px solid black;
	    th{
	    	padding-top: 4px;
      		padding-bottom: 4px;
	    	font-weight: bold;
	    	border: 1px solid black;
	    }
	    tr{
	    	&:nth-child(even) {
		    	font-size: 20px;
				background-color: $color-d;
				color: $color;
				border: 1px solid black;
			}
			&:nth-child(odd) {
				font-size: 20px;
			    background-color: $color;
			    color: white;
			    border: 1px solid black;
			}
	    }
	    td{
	    	vertical-align: middle;
	    	text-align:left;
	    	padding: 10px;
	    }
		img{
			height: 200px;
			padding: 5px;
		}
	   }
}