/*start of css reset*/
html, body, div, span, applet, object, iframe,
h1,
body h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*enf of reset*/
body {
  background-color: #f2f2f2; 
}
  body .btn-movie {
    color: white;
    background-color: #005b88;
    width: 6%;
    border-radius: 5px;
    padding: 10px 0;
    margin: 8px 0;
    margin: auto;
    display: block;
    border: none;
  }
  body h1 {
    margin-top: 10px;
    color: #005b88;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
  }
  body h2 {
    color: #005b88;
    font-weight: bold;
    font-size: 30px;
    text-align: center; 
  }
  body table.movies-table {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
  }
  body table.movies-table th {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
  }
  body table.movies-table tr:nth-child(even) {
    font-size: 20px;
    background-color: #bbe8ff;
    color: #008cd2;
    border: 1px solid black; }
  body table.movies-table tr:nth-child(odd) {
    font-size: 20px;
    background-color: #008cd2;
    color: white; 
    border: 1px solid black;
  }
  body table.movies-table td {
    padding: 10px;
    vertical-align: middle;
    text-align: left;
  }
  body table.movies-table img {
    height: 200px;
    padding: 5px; 
  }


